extends ../layout
block content
  .container
    .row
      form.form-horizontal.container.login-form(action='/login', method='post')
        .form-group
          label.col-sm-3.control-label Username
          .col-sm-7
            input.form-control(name='email', type='text', placeholder='Username', autofocus)
        .form-group
          label.col-sm-3.control-label Password
          .col-sm-7
            input.form-control(name='password', type='password', placeholder='Password')
        .form-group.text-center
          button(type='submit') Sign in

