<div class="row">
  <div class="col-md-12 new-pd">
    <span class="yellow-star"></span>
    <h3 class="new-pd-text">สินค้าใหม่</h3>
  </div>
</div>

<div class="row new-pd-item">
  {{#arrivals}}
  <div class="col-md-4">
    <div class="new-pd-content">
      <img src="{{img}}" class="img-circle img-responsive" alt="{{name}}">
      <!-- <img src="../images/new-pd-1.png" class="img-circle img-responsive" alt=""> -->
      <h4>{{name}}</h4>
      <div class="icons">
      </div>
      <p>{{description}}</p>
    </div>
    <div class="more-details">
      <button>รายละเอียด</button>
    </div>
  </div>
  {{/arrivals}}

</div>