<div class="container header">
   <div class="row">
      <header>
         <div id="logo" class="col-md-12 text-center">BinaryOutfits</div>
         <div class="col-md-12">
            <nav>
               <div class="col-md-12 top-border"></div>
               <div class="col-md-12 bottom-border"></div>
               <div class="col-md-12">
                  <ul class="nav">
                     <li><a href="">สินค้าใหม่</a></li>
                     <li><a href="">ชุดครอบครัว</a></li>
                     <li><a href="">ชุดคุณหนู</a></li>
                     <li><a href="">ชุดคุณแม่</a></li>
                     <li><a href="">ชุดคุณพ่อ</a></li>
                     <li><a href="">การสั่งซื้อสินค้า</a></li>
                     <li><a href="">ติดต่อสอบถาม</a></li>
                  </ul>
               </div>
            </nav>
         </div>
      </header>
   </div>
</div>