<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BinaryOutfits</title>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div style="
    margin: 0 auto;
    height: 3000px;
    width: 1200px;
    background: url('images/binary_home_boot.jpg');
    position: absolute;
    z-index: -999;
    left: 50%;
    margin-left: -600px;
    top: 0;
    display: none;
    margin-top: -24px;
" class=""></div>
  <div class="container">
    <div class="row">
      <div id="logo" class="col-md-12 text-center">BinaryOutfits</div>
      <div class="col-md-12">
        <nav>
          <div class="col-md-12 top-border"></div>
          <div class="col-md-12 bottom-border"></div>
          <div class="col-md-12">
            <ul class="nav">
              <li><a href="">สินค้าใหม่</a></li>
              <li><a href="">ชุดครอบครัว</a></li>
              <li><a href="">ชุดคุณหนู</a></li>
              <li><a href="">ชุดคุณแม่</a></li>
              <li><a href="">ชุดคุณพ่อ</a></li>
              <li><a href="">การสั่งซื้อสินค้า</a></li>
              <li><a href="">ติดต่อสอบถาม</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div id="slide" class="col-md-12"></div>
      <div class="col-md-12 hr text-center"><span class="glyphicon glyphicon-chevron-down separator"></span></div>
      <div class="col-md-12 content">
        <h1>Because we're Family!</h1>
        <h2>Dress alike one. BinaryOutfits, a family outfiter.</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 new-pd">
          <span class="yellow-star"></span><h3 class="new-pd-text">สินค้าใหม่</h3>
        </div>
        
        <div class="new-pd-item">
        <div class="col-md-4">
          <div class="new-pd-image"></div>
          <div class="new-pd-content">
            <img src="../images/new-pd-1.png" class="img-circle img-responsive" alt="">
            <h4>NAVY BLUE SET</h4>
            <div class="icons"></div>
            <p>ชุดน้ำงินเข้าเซ๊ทใส่สบาย เหมาะสำหรับวัดหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะ แบบเรียบง่าย<p>
          </div>
          <div class="more-details">
            <button>รายละเอียด</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="new-pd-image"></div>
          <div class="new-pd-content">
            <img src="../images/new-pd-1.png" class="img-circle img-responsive" alt="">
            <h4>NAVY BLUE SET</h4>
            <div class="icons"></div>
            <p>ชุดน้ำงินเข้าเซ๊ทใส่สบาย เหมาะสำหรับวัดหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะ แบบเรียบง่าย ชุดน้ำงินเข้าเซ๊ทใส่สบาย เหมาะสำหรับวัดหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะ แบบเรียบง่าย<p>
          </div>
          <div class="more-details">
            <button>รายละเอียด</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="new-pd-image"></div>
          <div class="new-pd-content">
            <img src="../images/new-pd-1.png" class="img-circle img-responsive" alt="">
            <h4>NAVY BLUE SET</h4>
            <div class="icons"></div>
            <p>ชุดน้ำงินเข้าเซ๊ทใส่สบาย เหมาะสำหรับวัดหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะ แบบเรียบง่าย<p>
          </div>
          <div class="more-details">
            <button>รายละเอียด</button>
          </div>
        </div>
      </div>

      </div>
  </div>  

</body>
</html>