<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BinaryOutfits</title>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div src="images/binary_home.jpg" alt="" style="
    margin: 0 auto;
    height: 2500px;
    width: 1020px;
    background: url('images/binary_home.jpg');
    position: absolute;
    z-index: -999;
    left: 50%;
    margin-left: -510px;
    top: 0;
    display: none;
" class=""></div>
  <div class="container">
    <div class="row">
      <div id="logo" class="col-lg-12 text-center">BinaryOutfits</div>
<!--       <div class="col-md-12"><hr></div> -->
    </div>
  </div>  

</body>
</html>