<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BinaryOutfits</title>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div style="
    margin: 0 auto;
    height: 3000px;
    width: 1200px;
    background: url('images/binary_home_boot.jpg');
    position: absolute;
    z-index: -999;
    left: 50%;
    margin-left: -600px;
    top: 0;
    display: none;
    margin-top: -24px;
" class=""></div>
  <div class="container">
    <div class="row">
      <div id="logo" class="col-lg-12 text-center">BinaryOutfits</div>
      <nav>
        <div class="col-lg-12 top-border"></div>
        <div class="col-lg-12"> meny</div>
        <div class="col-lg-12 bottom-border"></div>
      </nav>
<!--       <div class="col-md-12"><hr></div> -->
    </div>
  </div>  

</body>
</html>