<div class="container">
  <div class="row">
    <!-- <div id="slide" class="col-md-12"></div> -->
    <div id="slide" class="col-md-12">
      <img src="../images/slide2.jpg" class="img-responsive">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 hr text-center">
      <span class="glyphicon glyphicon-chevron-down separator"></span>
    </div>
    <div class="col-md-12 content">
      <h1>Because we're Family!</h1>
      <h2>Dress alike one. BinaryOutfits, a family outfiter.</h2>
    </div>
  </div>

  {{>arrivals}}

  <div class="row">
    <div class="col-md-12 hr text-center">
      <span class="glyphicon glyphicon-chevron-down separator"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>สินค้าแนะนำ</h3>
    </div>
  </div>
  <div class="row products">
    <div class="col-md-3">
      <h4>ชุดกระโปรงดำ</h4>
      <div class="product pink">
        <img src="../images/products/1.jpg" class="img-responsive" alt="">
        <div class="description">
          <p>ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย</p>
          <div class="shadow"></div>
          <button>
            <span class="readmore">รายละเอียด</span>
            <i class="fa fa-chevron-circle-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h4>ชุดกระโปรงดำ</h4>
      <div class="product green">
        <img src="../images/products/1.jpg" class="img-responsive" alt="">
        <div class="description">
          <p>ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย</p>
          <div class="shadow"></div>
          <button>
            <span class="readmore">รายละเอียด</span>
            <i class="fa fa-chevron-circle-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h4>ชุดกระโปรงดำ</h4>
      <div class="product blue">
        <img src="../images/products/1.jpg" class="img-responsive" alt="">
        <div class="description">
          <p>ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย</p>
          <div class="shadow"></div>
          <button>
            <span class="readmore">รายละเอียด</span>
            <i class="fa fa-chevron-circle-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h4>ชุดกระโปรงดำ</h4>
      <div class="product orange">
        <img src="../images/products/1.jpg" class="img-responsive" alt="">
        <div class="description">
          <p>ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย</p>
          <div class="shadow"></div>
          <button>
            <span class="readmore">รายละเอียด</span>
            <i class="fa fa-chevron-circle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row products">
    <div class="col-md-3">
      <h4>ชุดกระโปรงดำ</h4>
      <div class="product blue">
        <img src="../images/products/1.jpg" class="img-responsive" alt="">
        <div class="description">
          <p>ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย</p>
          <div class="shadow"></div>
          <button>
            <span class="readmore">รายละเอียด</span>
            <i class="fa fa-chevron-circle-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h4>ชุดกระโปรงดำ</h4>
      <div class="product orange">
        <img src="../images/products/1.jpg" class="img-responsive" alt="">
        <div class="description">
          <p>ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย</p>
          <div class="shadow"></div>
          <button>
            <span class="readmore">รายละเอียด</span>
            <i class="fa fa-chevron-circle-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h4>ชุดกระโปรงดำ</h4>
      <div class="product pink">
        <img src="../images/products/1.jpg" class="img-responsive" alt="">
        <div class="description">
          <p>ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย</p>
          <div class="shadow"></div>
          <button>
            <span class="readmore">รายละเอียด</span>
            <i class="fa fa-chevron-circle-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h4>ชุดกระโปรงดำ</h4>
      <div class="product green">
        <img src="../images/products/1.jpg" class="img-responsive" alt="">
        <div class="description">
          <p>ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย</p>
          <div class="shadow"></div>
          <button>
            <span class="readmore">รายละเอียด</span>
            <i class="fa fa-chevron-circle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>