extends layout

block content
  .container
    .row
        #slide.col-md-12
          img.img-responsive(src='../images/slide2.jpg')
      .row
        .col-md-12.hr.text-center
          span.glyphicon.glyphicon-chevron-down.separator
        .col-md-12.content
          h1 Because we're Family!
          h2 Dress alike one. BinaryOutfits, a family outfiter.

      if arrivals
        include products/_arrivals

      .row
        .col-md-12.hr.text-center
          span.glyphicon.glyphicon-chevron-down.separator
      .row
        .col-md-12
          h3 สินค้าแนะนำ
      .row.products
        .col-md-3
          h4 ชุดกระโปรงดำ
          .product.pink
            img.img-responsive(src='../images/products/1.jpg', alt='')
            .description
              p
                | ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย
              .shadow
              button
                span.readmore รายละเอียด
                i.fa.fa-chevron-circle-right
        .col-md-3
          h4 ชุดกระโปรงดำ
          .product.green
            img.img-responsive(src='../images/products/1.jpg', alt='')
            .description
              p
                | ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย
              .shadow
              button
                span.readmore รายละเอียด
                i.fa.fa-chevron-circle-right
        .col-md-3
          h4 ชุดกระโปรงดำ
          .product.blue
            img.img-responsive(src='../images/products/1.jpg', alt='')
            .description
              p
                | ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย
              .shadow
              button
                span.readmore รายละเอียด
                i.fa.fa-chevron-circle-right
        .col-md-3
          h4 ชุดกระโปรงดำ
          .product.orange
            img.img-responsive(src='../images/products/1.jpg', alt='')
            .description
              p
                | ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย
              .shadow
              button
                span.readmore รายละเอียด
                i.fa.fa-chevron-circle-right
      .row.products
        .col-md-3
          h4 ชุดกระโปรงดำ
          .product.blue
            img.img-responsive(src='../images/products/1.jpg', alt='')
            .description
              p
                | ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย
              .shadow
              button
                span.readmore รายละเอียด
                i.fa.fa-chevron-circle-right
        .col-md-3
          h4 ชุดกระโปรงดำ
          .product.orange
            img.img-responsive(src='../images/products/1.jpg', alt='')
            .description
              p
                | ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย
              .shadow
              button
                span.readmore รายละเอียด
                i.fa.fa-chevron-circle-right
        .col-md-3
          h4 ชุดกระโปรงดำ
          .product.pink
            img.img-responsive(src='../images/products/1.jpg', alt='')
            .description
              p
                | ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย
              .shadow
              button
                span.readmore รายละเอียด
                i.fa.fa-chevron-circle-right
        .col-md-3
          h4 ชุดกระโปรงดำ
          .product.green
            img.img-responsive(src='../images/products/1.jpg', alt='')
            .description
              p
                | ชุดน้ำเงินเข้าเซ็ทสวมใส่สบาย เหมาะสำหรับวันหยุดพักผ่อน ไปเดินเล่นในสวนสาธาระณะแบบเรียบง่าย
              .shadow
              button
                span.readmore รายละเอียด
                i.fa.fa-chevron-circle-right