doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    - var defaultTitle = 'Binary Outfits'
    if title
        title #{defaultTitle} | #{title}
    else
        title #{defaultTitle}
  body
    a(name='top')
    include _header
    include _flash
    block content
    .container
        .row
            .col-md-12.text-center
                a(href='#top')
                    i.fa.fa-angle-up
                    span &nbsp;กลับขึ้นด้านบน&nbsp;
                    i.fa.fa-angle-up
    include _footer