doctype html
html 
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    title Binary Outfits #{title}
  body
    include _header
    
    if flash
      .container
        .row
          if flash.message          
            .col-md-12.alert.alert-success #{flash.message}
          if flash.warning
            .col-md-12.alert.alert-warning #{flash.warning}

    block content
    include _footer