@import 'webfonts';

$grand-font: 'grand_hotelregular';
$thai-font: 'thaisansneue';
$claire-font: 'claire_handregular';

$page-color: #F8F8F8;
$grey: #EEE;
$dark-gray: #EBEBEB;
$black: #333333;
$green: #19bd9b;
$dark-green: #188e78;

body {
  background-color: $page-color;
  color: $black;
  padding-top: 9px;
}

#logo {
  font-family: $grand-font;
  font-size: 65px;
}

nav{
  .nav {
    position: absolute;
    text-align: center;
    display: table;
    width: 100%;
    margin-top: -4px;
    > li {
      display: table-cell;
      > a {
        font-family: 'thaisansneue';
        font-size: 30px;
        padding: 0;
        margin: 0 10px;
        color: $black;
      }
      > a:hover {
        background-color: $green;
        color: $page-color;
        border-bottom: 3px solid #188E78;
      }   
    }
  }

  .top-border {
    border-top: 1px solid $grey;
    margin-top: 22px;
    box-shadow: 0px -1px 2px $dark-gray;
  }
  .bottom-border {
    border-top: 1px solid $grey;
    box-shadow: 0px 1px 2px $dark-gray;
    top: 40px;
  }
}

#slide {
  background: url('../images/slide1.jpg');
  margin-top: 75px;
  width: 1170px;
  height: 625px;
  margin-bottom: 40px;
}

.hr {
  border-top: 1px solid #DFDFDF;
}

.separator {
  background: #B6B6B6;
  font-size: 13px;
  width: 24px !important;
  border-radius: 20px;
  padding-bottom: 5px;
  top: -12px;
  color: #333;
  text-shadow: 0px 1px 1px #CACACA;
  border: 1px solid #B3B3B3;
  padding-top: 5px;
}

.content {
  h1 {
    font-family: $grand-font;
    font-size: 60px;
    text-align: center;  
  }
  h2 {
    font-family: $claire-font;
    color: $green;
    text-align: center;
  }
}