@import 'webfonts';

$page-color: #F8F8F8;
$grand-font: 'grand_hotelregular';

$grey: #EEE;
$dark-gray: #EBEBEB;

body {
  background-color: $page-color;
  padding-top: 9px;
}

#logo {
  font-family: $grand-font;
  font-size: 65px;
}

nav{
  .top-border {
    border-top: 1px solid $grey;
    margin-top: 22px;
    box-shadow: 0px -1px 2px $dark-gray;
  }
  .bottom-border {
    border-top: 1px solid $grey;
    box-shadow: 0px 1px 2px $dark-gray; 
  }
}
