@import 'webfonts';

$page-color: #F8F8F8;
$grand-font: 'grand_hotelregular';

body {
  background-color: $page-color;
  padding-top: 9px;
}

#logo {
  font-family: $grand-font;
  font-size: 65px;
}