.row
  .col-md-12.new-pd
      span.yellow-star
      h3.new-pd-text สินค้าใหม่
    .row.new-pd-item
      each item in arrivals
        .col-md-4
          .new-pd-content
            img(src='#{item.img}', alt='#{item.name}').img-circle.img-responsive
            h4 #{item.name}
            .icons
            p #{item.description}
          .more-details
            button รายละเอียด

